* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 12px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.authorization {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 24px);
  border-image-source: url(./img/border.png);
  border-image-slice: 34;
  border-image-width: 40px;
}

.authorization-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorization__title {
  margin-bottom: 24px;
  font-weight: 700;
  color: #363636;
}
.authorization__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: 457px;
}

.authorization__label {
  position: relative;
  width: 100%;
}

.authorization__label::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-image: url(./img/person.png);
}
.authorization__label:nth-child(2):before {
  background-image: url(./img/key.png);
}
.authorization__element {
  position: relative;
  width: 100%;
  padding: 15px 48px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}

.authorization__result {
  display: inline-block;
  color: #f65454;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
.authorization__welcome {
  font-size: 24px;
  font-style: regular;
  font-weight: 400;
  line-height: 16px;
}
.authorization__button {
  color: #ffffff;
  width: 175px;
  height: 48px;
  background-color: #b7903b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.authorization__button:hover {
  background-color: #e9bb59;
}

.authorization__succsess {
  border-color:#43A470;
}

.authorization__failure {
  color: #F65454;
  border-color:#F65454;
}